.potw-carousel {
    width: 100%;
    font-size: 0.9em;
}

.potw-indicators.carousel-indicators {
  margin: 0;
  margin-inline: 8px;
}
.potw-indicators .potw-indicator-btn {
    background-color: var(--secondary-light2);
    opacity: 1 !important;
}
.potw-indicators .potw-indicator-btn.active {
    background-color: var(--accent);
}
.potw-indicators .potw-indicator-btn:hover {
    background-color: var(--accent);
    transform: scale(1.1);
}

.potw-inner {
    height: 115px;
}

.potw-item {
    padding: 5px;
    width: 100%;
}

.icon-bg {
    position: absolute;
    width: 115px;
    top: 0px;
    right: 0px;
    z-index: 0;
    filter: invert(14%) sepia(48%) saturate(2223%) hue-rotate(310deg) brightness(91%) contrast(93%);
}

.potw-top {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    gap: 5px;
    position: relative;
}
.potw-player-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: var(--primary);
}
.potw-avatar {
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-sm);
    object-fit: cover;
}

.potw-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid var(--border);
    position: relative;
    width: 60%;
}
.potw-desc {
    font-weight: bold;
}
.potw-stat-value {
    color: var(--primary);
}