:root {
    /* Match Info Box */
    --match-info-box-height: 30px;
}

/* === Team Details Collapsible Area === */
.collapse-body {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;

  width: 100%;
  height: auto;

  border-top: 2px solid var(--secondary-light2);
  
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  padding-top: 8px;
}


/* === Details box === */
.details-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  background-color: var(--background-light2);
  border-radius: var(--border-radius);

  width: 100%;
  max-width: 500px;
}

.details-box-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-dark3);
  border-bottom: 2px solid var(--border);

  font-size: 1.2rem;
  font-weight: bold;
}

/* === Match box general styling */
.matches-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  padding: 5px;
  gap: 2px;

  font-size: 1rem;
}

.match-info-box {
  display: flex;
  height: var(--match-info-box-height);
  width: 100%;
  box-sizing: border-box;

  gap: 2px;
  padding-inline: 8px;

  border: 1px solid var(--border);  
  border-radius: var(--border-radius-sm);         
  background-color: var(--background-dark2);

  text-decoration: none;
}
.match-info-box:nth-of-type(odd) {
  background-color: var(--secondary-dark5);
}
.match-info-box:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

/* === Match info date styling === */
.match-info-time {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 40px;

  font-size: .8rem;
}
.match-info-time.upcoming {
  flex: 0 0 80px;
}

/*  === Match info maps styling === */
.match-info-maps {
  display: inline-flex;
  align-items: center;
  height: 100%;

  white-space: nowrap;
  width: auto;
}
.match-info-maps img {
  height: 80%;
  width: auto;
  display: block;
  object-fit: contain;
}

/* === Match info (teams + score) styling === */
.match-info-team-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;

  gap: 5px;

  min-width: 0;
  overflow: hidden;
}
.match-info-team-wrapper > * {
  display: flex;
  align-items: center;
  height: 100%;
}

.match-info-team-avatar {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.match-info-team.opponent {
  display: flex;
  align-items: center;
  height: 100%;

  gap: 5px;

  overflow: hidden;
  white-space: nowrap;
}
.match-info-avatar {
  height: 100%;
  display: flex;
  align-items: center;
}
.match-info-avatar img {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
}

.match-info-name {
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: 1rem;
  font-weight: bold;
}

/* === Recent Matches ===  */
.match-info-team-wrapper .match-score {
  flex: 0 0 40px;
  justify-content: center;

  font-size: .8rem;
  font-weight: bold;

  overflow: visible;
  flex-wrap: nowrap;
}
.match-score-full {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  align-items: center;
  width: 100%;
}
.match-score-left, .match-score-right, .match-score-divider {
  width: 100%;
  text-align: center;
}

/* === Team statistics === */
.maps-box {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));

  width: 100%;
  height: auto;

  padding: 5px;
  gap: 2px;

  font-size: 1rem;
}
.map-stat-box {
  padding: 5px;

  font-size: clamp(0.6rem, -0.3662rem + 1.5584vw, 0.9rem);
  gap: 2px;

  text-align: center;

  border: 1px solid var(--border);  
  border-radius: var(--border-radius-sm);         
  background-color: var(--background-dark2);

  text-decoration: none;
}
.map-stat-box:hover {
  background-color: var(--secondary);
}
.map-stat-box img {
  width: 80%;
  height: auto;
  border-radius: 3px;
  object-fit: cover;
  margin-bottom: 5px; /* space between image and text */
}
.map-name {
  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;
}
.map-badge {
  width: 100%;
  background-color: var(--secondary-light2)
}


/* === Player statistics styling ===  */
.player-stats-box {
  width: 100%;
  height: auto;
  padding: 5px;

  color: var(--form-text);
  background-color: var(--card-bg-secondary);
}

.table-custom {
  width: 100%;
  height: auto;

  font-size: clamp(0.8rem, -0.3662rem + 1.5584vw, 1rem);
}
.table-custom .ellipsis {
  max-width: 200px;
}


@media screen and (max-width: 992px) {
  .table-custom .ellipsis {
    max-width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .collapse-body {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .map-stat-box {
    font-size: 0.7rem;
  }

  .table-custom .ellipsis {
    max-width: 200px;
  }
}