/* esea.css */
:root {
  /* Main wrapper (ESEA wrapper) ratios */
  --esea-wrapper-width: calc(100% - var(--sidebar-width) * 2); /* 1000px is fine */
  --sidebar-width: 160px;

  /* Spacing & sizing */
  --gap-small: 5px;
  --border-radius-small: 3px;
}

/* === ESEA Content Wrapper === */
.esea-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  flex-shrink: 0;
}

.esea-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px auto;
  padding-top: 0;
  background-color: var(--background-light1);
  border-radius: var(--border-radius);
  overflow: hidden;
  min-width: 0;
}

#season-content {
  padding-inline: 10px;
}

/* === ESEA Season navbar === */
#seasonBanner {
  width: 100%;
  height: auto;
  max-height: 200px; 
  object-fit: cover;
}

.season-nav-box {
  display: flex;
  justify-content: center;
  width: 100%;

  background: var(--background-dark1);
  border-block: 1px solid var(--border);
}

.season-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  width: max-content;
  padding-left: 0;
  margin-left: 0;

  margin: 0 auto;

  list-style-type: none;
}

.nav-item {
  display: flex;
  height: 35px;
  width: max-content;

  border-inline: 1px solid var(--border);

  background-color: var(--secondary-dark4)
}

.nav-link {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  gap: 0.5rem;
  padding-inline: 10px;
}

.nav-link.active {
  background-color: var(--accent);
  color: var(--text);
}
.nav-link.active:hover {
  background-color: var(--accent);
  color: var(--text);
}
.nav-link:hover {
  background-color: var(--secondary);
  color: var(--text);
}

.nav-link span {
  white-space: nowrap;
}

/* .dropdown-menu {
  position: absolute;
  min-width: 0;
  background-color: var(--card-bg);
  background-clip: padding-box;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  z-index: 1010;
}

.dropdown-menu li {
  color: var(--text);
} */

@media screen and (max-width: 992px) {
  .esea-wrapper {
    width: calc(100% - var(--sidebar-width));
    margin: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  .esea-wrapper {
    width: 100%;
  }
}