.todays-matches-division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  border-bottom: 1px solid var(--primary)
}

.sidebar-body > .text-muted {
  padding: 8px;
}

@media screen and (max-width: 992px) {
  .sidebar.left {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar.left {
    display: none;
  }
  .sidebar.right {
    display: none;
  }
}
