{% macro checkbox_filter(name, values) %}
<div class="filter-group" data-filter-group="{{ name }}">
    {% for val in values %}
        <input  class="checkbox__input" 
                type="checkbox" 
                value="{{ val }}" 
                name="{{ name }}" 
                id="{{ name }}-{{ val }}">
        <label class="checkbox__label sidebar-button striped" for="{{ name }}-{{ val }}">{{ val }}</label>
    {% endfor %}
</div>
{% endmacro %}

{% macro radio_filter(name, values, init_checked=None) %}
<div class="filter-group" data-filter-group="{{ name }}">
    {% for val in values %}
        <input class="checkbox__input" 
               type="radio" 
               value="{{ val }}" 
               name="{{ name }}" 
               id="{{ name }}-{{ val }}"
               {% if init_checked == val %}checked data-default="true"{% endif %}>
        <label class="checkbox__label sidebar-button striped" for="{{ name }}-{{ val }}">{{ val }}</label>
    {% endfor %}
</div>
{% endmacro %}