/* === Country Filter === */
.countries-filter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  width: 100%;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.flag-img {
  width: 38px !important;
}