:root {
  /* Main wrapper width */
  --stats-wrapper-width: calc(100% - var(--sidebar-width));
  --sidebar-width: 160px;

  --stats-width-percent: 90vw;
  --filters-width: 260px;
  --gap-size: 2rem;
}

.stats-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.stats-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: var(--stats-wrapper-width);
  margin: 0 auto;
  padding-top: 10px;
}