{% macro match_box(division, match) %}
<a class="sidebar-match-box {{ 'highlight-border' if match.team.is_benelux and match.opponent.is_benelux else '' }}"
   href="https://www.faceit.com/en/cs2/room/{{ match.match_id }}" target="_blank" rel="noopener noreferrer">
    <div class="match-top">
        <div class="event-name">
            <span class="text-muted">{{ division }}</span>
        </div>

        <div class="match-status">
            {% if match.status == 'ONGOING' %}
                <div class="live-indicator">
                    <span class="live-dot"></span>
                    <span class="live-text">LIVE</span>
                </div>
            {% elif match.status == 'FINISHED' %}
            {% else %}
                <div class="match-time">
                    <span>{{ match.match_time | datetimeformat('%H:%M') }} </span>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="match-content">
        <div class="match-content-left">
            <div class="team-name {{ 'highlight-text' if match.team.is_benelux else '' }}">
                {{ match.team.team_name }}
            </div>
            <div class="team-name {{ 'highlight-text' if match.opponent.is_benelux else '' }}">
                {{ match.opponent.team_name }}
            </div>
        </div>
        <div class="match-content-right">
            {% if match.status == 'FINISHED' %}
                {% if match.live_score %}
                    {% if match.map_count > 1 %}
                        <div class="match-score {{ 'text-success' if match.team.map_wins > match.opponent.map_wins else 'text-danger' }}">
                            {{ match.team.map_wins }}
                        </div>
                        <div class="match-score {{ 'text-success' if match.team.map_wins < match.opponent.map_wins else 'text-danger' }}">
                            {{ match.opponent.map_wins }}
                        </div>
                    {% elif match.map_count == 1 %}
                        <div class="match-score {{ 'text-success' if match.team.round_wins > match.opponent.round_wins else 'text-danger' }}">
                            {{ match.team.round_wins }}
                        </div>
                        <div class="match-score {{ 'text-success' if match.team.round_wins < match.opponent.round_wins else 'text-danger' }}">
                            {{ match.opponent.round_wins }}
                        </div>
                    {% else %}
                        <div class="match-score {{ 'text-success' if match.live_score[match.team.team_id] | default(0) == 1 else 'text-danger' }}">
                            {% if match.live_score[match.team.team_id] | default(0) == 1 %}
                                FFW
                            {% else %}
                                - 
                            {% endif %}
                        </div>
                        <div class="match-score {{ 'text-success' if match.live_score[match.opponent.team_id] | default(0) == 1 else 'text-danger' }}">
                            {% if match.live_score[match.opponent.team_id] | default(0) == 1 %}
                                FFW
                            {% else %}
                                - 
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    -
                {% endif %}

            {% elif match.status == 'ONGOING' %}
                {% if match.live_score %}
                    <div class="match-score">
                        {{ match.live_score[match.team.team_id] | default(0) }}
                    </div>
                    <div class="match-score">
                        {{ match.live_score[match.opponent.team_id] | default(0) }}
                    </div> 
                {% else %}
                    <span>{{ match.status }}</span>
                {% endif %}
            {% else %}
            {% endif %}
        </div>
    </div>
</a>
{% endmacro %}