/* === General sidebar styling === */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    
    width: var(--sidebar-width);
    
    gap: 10px;
    margin: 10px;

    border-radius: var(--border-radius);

    background-color: var(--background-light);

}

/* === Sidebar content styling === */
.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    width: 100%;
    height: auto;

    background-color: var(--secondary1);
    border-radius: var(--border-radius-sm);
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-inline: 8px;
    
    border-bottom: 1px solid var(--border);
    background-color: rgba(0, 0, 0, 0.5);

    overflow: hidden;
}
.sidebar-content:first-child .sidebar-header {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.sidebar-header span {
    width: 100%;
    text-align: center;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: auto;

    font-family: sans-serif;
    overflow: visible;
}

/* === Sidebar Filter styles === */
.filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    user-select: none;
    position: relative;

    padding: 5px 10px;
    width: 100%;

    transition: background 0.2s ease;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2)
}
.filter-header:hover {
    background-color: rgba(0,0,0,.5);
}

.arrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #6b7280;
  transition: transform 0.2s ease;
}
.filter-container.open .arrow {
  transform: rotate(90deg);
}

.filter-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease, padding 0.25s ease;
}
.filter-container.open .filter-body {
  max-height: 500px;
  overflow: visible;
}

.apply-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--secondary1);
    border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
    overflow: hidden;
}
.apply-button {
    width: 100%;
    background-color: var(--primary);
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}
.apply-button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}
.apply-button:active {
    transform: scale(0.98);
}
