/* === General sidebar styling === */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: var(--sidebar-width);
    
    padding-top: 10px;
    gap: 10px;
}
.sidebar.left {
    border-right: 1px solid var(--border) !important;
}
.sidebar.right {
    border-left: 1px solid var(--border) !important;
}

/* === Sidebar content styling === */
.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    width: 90%;
    height: auto;

    background-color: var(--secondary1);
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    /* border-bottom: 1px solid var(--border); */
    background-color: var(--secondary);
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: auto;

    font-size: 14px;
    font-family: sans-serif;
    overflow: visible;
}


/* === Accordion-enabled sidebar content === */
.sidebar-content.accordion-enabled .sidebar-header {
    cursor: pointer;
    user-select: none;
}
.sidebar-content.accordion-enabled .sidebar-header:hover {
    background-color: var(--btn-bg-hover);
}

.sidebar-content.accordion-enabled .sidebar-body {
    display: none; /* collapsed by default */
    /* overflow: ; */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    opacity: 0;
}

.sidebar-content.accordion-enabled.active .sidebar-body {
    display: flex; /* restore flex layout */
    max-height: 500px; /* adjust depending on expected height */
    opacity: 1;
}

