.table-custom {
    border-collapse: collapse;
}

/* === General styling === */
.table-custom th,
.table-custom td {
    padding: 0.5rem;
    box-sizing: border-box;
}

.table-custom thead {
    border-block-end: 2px solid var(--table-header-border) !important;
    background: var(--table-header-bg) !important;
}

.table-custom tbody {
  background-color: var(--table-row-bg) !important;
}
.table-custom tbody tr:nth-child(odd) {
    background-color: var(--table-row-bg-alternate) !important;
}
.table-custom tbody tr:hover {
    background-color: var(--table-row-bg-hover) !important;
}

/* === Column alignment === */
.table-custom .numeric-cell {
    text-align: end;
}

.table-custom th,
.table-custom td {
    text-align: left;
}

/* === Column borders === */
.table-custom th:not(:last-child),
.table-custom td:not(:last-child) {
    border-right: 1px solid var(--table-row-border) !important;
}

/* === General styling for cells with class .ellipsis (adjust max-width per cell) === */
.table-custom .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* === General styling for numeric cell === */
.table-custom .numeric-cell.good-value {
    color: green;
    font-weight: bold;
}
.table-custom .numeric-cell.bad-value {
    color: red;
    opacity: 0.8;
}