:root {
    --max-width-content: 1320px;
    --border-radius: 8px;
    --border-radius-sm: 4px;
}

/* === General styling === */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
}

a {
    color: var(--text);
    text-decoration: none;
}

.highlight-border {
  border: 2px solid var(--bnlx) !important;
}   
.highlight-text {
  color: var(--bnlx) !important;
}

.text-success {
    color: #09c100 !important;
}
.text-danger {
    color: #FC1D1D !important;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: var(--background);
}

.container-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.container-boxed {
    width: 100%;
    max-width: var(--max-width-content);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

/* === Content section styling */
.content-boxed {
    flex: 1;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding-top: var(--navbar-height);
}