:root {
    --max-width-content: 1500px;
}

/* === General styling === */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-boxed {
    max-width: var(--max-width-content);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* === Content section styling */
.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: var(--navbar-height);
    background-color: var(--background);
}

.content-boxed {
    flex: 1;
    display: flex;
    flex-direction: column;

    background-color: var(--content-bg);
}