/* === Buttons === */
.sidebar-body .filter-group {
  width: 100%;
}

.sidebar-body .checkbox__input {
  display: none;
}

.sidebar-body .checkbox__label {
  display: block;
  text-align: center;

  width: 100%;

  padding: 6px 10px;

  cursor: pointer;
  transition: background 0.1s;
  user-select: none;
}