/* === Bootstrap Select === */
.sidebar-body .bootstrap-select {
  width: 100% !important;
  border-radius: 0px;
}

.sidebar-body .bootstrap-select .btn {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--text);
  font-size: 14px;
  border: none;
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  padding: 6px 10px;
  width: 100%;
  text-align: left;
}

.sidebar-body .bootstrap-select .btn:focus,
.sidebar-body .bootstrap-select .btn:hover {
  box-shadow: none;
  border-radius: 0px;
}

/* Dropdown menu */
.sidebar-body .bootstrap-select .dropdown-menu.show {
  background-color: var(--background);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  border: unset;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

/* Dropdown items */
.dropdown-menu.inner.show {
  border-top: 1px solid var(--border);
}

.dropdown-menu.inner.show li .dropdown-item {
  text-align: center;
  color: var(--text);
  padding-block: 3px;
}
.dropdown-menu.inner.show li .dropdown-item .text {
  margin-right: 0;
}
.dropdown-menu.inner.show li .dropdown-item:hover {
  background-color: rgba(0,0,0,.2);
}

/* Selected item checkmark (if using show-tick) */
.sidebar-body .bootstrap-select .dropdown-item.active,
.sidebar-body .bootstrap-select .dropdown-item:active {
  background-color: var(--btn-bg);
  color: var(--text);
}

/* Dropdown select/deselect all */
.bs-actionsbox {
  padding: 0
}
.btn-group.btn-group-sm {
  display: flex;
}

.actions-btn.btn.btn-light {
  border-radius: var(--border-radius-sm) !important;
  padding: 4px;
  text-align: center;
  font-size: 11px;
  color: var(--text);
  margin: 4px;
  background-color: rgba(255,255,255,.1);
  text-wrap: nowrap;
}
.actions-btn.bs-select-all.btn.btn-light {
  border: 1px solid var(--primary);
}
.actions-btn.bs-deselect-all.btn.btn-light {
  border: 1px solid var(--accent);
}