{% if streams_info|length == 0 %}
    <div class="no-streams">
        <span class="text-muted">No streams available.</span>
    </div>
{% else %}
    <div id="currentStreams" class="current-streams">
        {% for stream in streams_info %}
            <div class="stream-item" data-user="{{ stream['user_name'] }}" data-userid="{{ stream['user_id'] }}">
                <div class="stream-header">
                    <a href="https://twitch.tv/{{ stream['user_name'] }}" target="_blank" class="stream-link">
                        {% if "team" in stream['streamer_type'] %}
                            <img src="{{ url_for('static', filename='img/esea/esea_logo.png') }}" alt="Team Stream" class="twitch-team-icon"/>
                        {% else %}
                            <i class="bi bi-twitch"></i>
                        {% endif %}
                    </a>
                    <span class="streamer-name noselect">{{ stream['user_name'] }}</span>
                    <div class="stream-viewers">
                        <i class="bi bi-eye-fill"></i>
                        <span class="stream-viewers-val">{{ stream['viewer_count'] }}</span>
                    </div>
                </div>
                <div class="twitch-embed-wrapper {{ 'visible' if loop.first else '' }}">
                    <div id="twitch-embed-{{ stream['user_id'] }}" class="twitch-embed"></div>
                    
                    <div class="thumbnail-wrapper">
                        <img src="{{ stream['thumbnail_url'].replace('{width}', '320').replace('{height}', '180') }}"
                            class="thumbnail-image" 
                            alt="Stream thumbnail for {{ stream['user_name'] }}">
                        <i class="thumbnail-icon bi bi-eye"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}