<!DOCTYPE html>
{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/sidebar.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/matches/matches.css') }}">
{% endblock %}

{% block title %}{{ super() }} | Matches{% endblock %}

{% block content %}

<div class="matches-page-wrapper">
    <div class="sidebar left" id="sidebar-matches">
        <div class="sidebar-collapser">
            <i class="material-icons">menu</i>
        </div>
    </div>

    <div class="matches-wrapper">
        
    </div>

    <div class="sidebar right">
    
    </div>
</div>

{% endblock %}

{% block javascript %}
  {{ super() }}
{% endblock %}