{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/esea.css') }}">
{% endblock %}

{% for division_name, teams in divisions.items() %}
    {% if loop.first %}
        <div class="division-separator justify-content-between">
            <h3 class="text-left">{{ division_name }}</h3>
            <button id="expandAllBtn" class="btn btn-primary btn-sm mb-2">Expand All</button>
        </div>
        <!-- Skip printing division title here, already printed above -->
    {% else %}
        <div class="division-separator">
            <h3 class="text-left">{{ division_name }}</h3>
        </div>
    {% endif %}

    {% for team in teams %}
    <div class="team-card">
        <div class="team-card-visible">
            <div class="team-card-body">
            
                <!-- Avatar -->
                <div class="team-avatar">
                    <img src="{{ team.team_avatar }}"
                        alt="Team Avatar"
                        data-placeholder="{{ url_for('static', filename='img/faceit/team_avatar_placeholder.jpg') }}"
                        onerror="this.onerror=null;this.src=this.dataset.placeholder;">
                </div>
                
                <!-- Middle: Team name and Players -->
                <div class="team-card-middle">
                    
                    <!-- Team name top left -->
                    <div class="team-card-name">
                        <a class="team-link" href="https://www.faceit.com/en/teams/{{ team.team_id }}/leagues" target="_blank">
                            {{ team.team_name }}
                        </a>
                    </div>

                    <!-- Players -->
                    <div class="team-card-players">
                        
                        <!-- Main players (on the left) -->
                        <div class="main-players-box">
                            {% for player in team.players_main %}
                            <a href="https://www.faceit.com/en/players/{{player.player_name}}" class="text-decoration-none text-reset" target="_blank">
                                <div class="main-player">
                                    <div class="main-player-avatar">
                                        <img src="{{ player.player_avatar }}"
                                            alt="{{ player.player_name }}"
                                            data-placeholder="{{ url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                                            onerror="this.onerror=null;this.src=this.dataset.placeholder;">
                                    </div>
                                    <div class="main-player-name">
                                        <strong>{{ player.player_name }}</strong>
                                        <img src="{{ url_for('static', filename='img/flags/' ~ player.player_country ~ '.png') }}"
                                            alt="{{ player.player_country }}">
                                    </div>
                                </div>
                            </a>
                            {% endfor%}
                        </div>

                        <!-- Subs (on the right) -->
                        <div class="sub-players-box">
                            {% if team.players_sub %}
                            {% for player in team.players_sub %}
                            <a href="https://www.faceit.com/en/players/{{ player.player_name }}" class="text-decoration-none text-reset" target="_blank">
                                <div class="sub-player">
                                    <img src="{{ url_for('static', filename='img/flags/' ~ player.player_country ~ '.png') }}"
                                        alt="{{ player.player_country }}">
                                    <span>{{ player.player_name }}</span>
                                </div>
                            </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Score box -->
                <div class="score-box">
                    {% for stage in team.stages %}
                        <div class="stage-box" 
                            data-bs-toggle="tooltip" 
                            title="Placement: {{ stage.placement['left'] }}{% if stage.placement.get('right') is not none %} - {{ stage.placement['right'] }}{% endif %}">
                            
                            <div class="stage-logo">
                                <img 
                                    src="{{ url_for('static', filename='img/esea/' ~ ('regularSeason.png' if 'regular' in stage.stage_name|lower else 'playoffs.png')) }}"
                                    alt="ESEA Stage Logo">
                            </div>
                            <div class="stage-score">
                                <span style="color: #28a745;">
                                    {{ stage.wins or 0 }}
                                </span>
                                -
                                <span style="color: #dc3545;">
                                    {{ stage.losses or 0 }}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <!-- Details button -->
                <div class="d-flex" style="flex: 0 0 3%;">
                    <button class="btn btn-secondary w-100 h-100 collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTeam{{ division_name | replace(' ', '') }}{{ loop.index }}"
                        aria-expanded="false"
                        aria-controls="collapseTeam{{ division_name | replace(' ', '') }}{{ loop.index }}">
                        <i class="bi bi-chevron-down"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Collapsible section for team details -->
        <div class="collapse" id="collapseTeam{{ division_name | replace(' ', '') }}{{ loop.index }}">
            <div class="collapse-body">
                <!-- Box for recent and upcoming matches -->
                <div class="details-box col">
                    <!-- Recent matches -->
                    <div class="details-box-header">
                        Recent Matches
                    </div>

                    <div class="matches-box recent">
                        {% if team.matches %}
                            {% for match in team.matches %}
                            <a href="https://www.faceit.com/en/cs2/room/{{ match.match_id }}" 
                                class="match-info-box {{ 'highlight-border' if match.opponent_id in teams | map(attribute='team_id') | list else '' }}" 
                                target="_blank" 
                                rel="noopener noreferrer">
                                <div class="match-info-team">
                                    <img src="{{ team.team_avatar }}"
                                        alt="{{ team.team_name }}"
                                        data-placeholder="{{ url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                                        onerror="this.onerror=null;this.src=this.dataset.placeholder;">
                                    <span class="match-info-name">
                                        {{ team.team_name }}
                                    </span>
                                </div>

                                <div class="match-score">
                                    <span>
                                        {% if match.score == 'FFW' %}
                                            <span class="fst-italic text-success">{{ match.score }}</span>
                                        {% elif match.score == 'FFL' %}
                                            <span class="fst-italic text-danger">{{ match.score }}</span>
                                        {% else %}
                                            {% set parts = match.score.split('/') %}
                                            {% set score1 = parts[0] | trim | int %}
                                            {% set score2 = parts[1] | trim | int %}
                                            {% set is_win = match.result == 'W' %}
                                            {% set left = score1 if is_win and score1 > score2 or not is_win and score1 < score2 else score2 %}
                                            {% set right = score2 if left == score1 else score1 %}

                                            <span class="{{ 'text-success' if is_win else 'text-danger' }}">
                                                {{ left }} - {{ right }}
                                            </span>
                                        {% endif %}
                                    </span>
                                </div>
                                
                                <div class="match-info-team opponent">
                                    <span class="match-info-name opponent">
                                        {{ match.opponent }}
                                    </span>
                                    <img src="{{ match.opponent_avatar }}"
                                        alt="{{ match.opponent }}"
                                        data-placeholder="{{ url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                                        onerror="this.onerror=null;this.src=this.dataset.placeholder;">
                                </div>
                            </a>
                            {% endfor %}
                        {% else %}
                            <p class="d-flex align-items-center text-muted mb-0">No recent matches.</p>
                        {% endif %}
                    </div>

                    <!-- Upcoming matches -->
                    <div class="details-box-header">
                        Upcoming Matches
                    </div>

                    <div class="matches-box upcoming">
                        {% if team.upcoming_matches %}
                            {% for match in team.upcoming_matches %}
                            <a href="https://www.faceit.com/en/cs2/room/{{ match.match_id }}" 
                                class="match-info-box {{ 'highlight-border' if match.opponent_id in teams | map(attribute='team_id') | list else '' }}" 
                                target="_blank" 
                                rel="noopener noreferrer">

                                <div class="match-info-team">
                                    <img src="{{ team.team_avatar }}"
                                        alt="{{ team.team_name }}"
                                        data-placeholder="{{ url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                                        onerror="this.onerror=null;this.src=this.dataset.placeholder;">
                                    <span class="match-info-name">
                                        {{ team.team_name }}
                                    </span>
                                </div>

                                <div class="match-time">
                                    <span>
                                        {% if match.match_time %}
                                            {{ match.match_time | datetimeformat('%d/%m %H:%M') }}
                                        {% else %}
                                            TBA
                                        {% endif %}
                                    </span>
                                </div>

                                <div class="match-info-team opponent">
                                    <span class="match-info-name opponent">
                                        {{ match.opponent }}
                                    </span>
                                    <img src="{{ match.opponent_avatar }}"
                                        alt="{{ match.opponent }}"
                                        data-placeholder="{{ url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                                        onerror="this.onerror=null;this.src=this.dataset.placeholder;">
                                </div>
                            </a>
                            {% endfor %}
                        {% else %}
                            <p class="d-flex align-items-center text-muted mb-0">No upcoming matches.</p>
                        {% endif %}
                    </div>
                </div>
                
                <!-- Box for team statistics (i.e. map and player stats)  -->
                <div class="details-box col">
                    <!-- Recent matches -->
                    <div class="details-box-header">
                        Map Statistics
                    </div>

                    {% if team.map_stats %}
                        <div class="stats-box maps">
                            {% for map in team.map_stats %}
                                <div class="map-stat-box"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="Played: {{ map.played }}, Won: {{ map.won }}">
                                    
                                    <img src="{{ url_for('static', filename='img/maps/' ~ map.map_name ~ '.png') }}"
                                        alt="{{ map.map_name }}"
                                        data-placeholder="{{ url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                                    >
                                    <div class="small fw-semibold mb-2" style="max-width: 100%;">
                                        {{ map.map_name }}
                                    </div>
                                    <span class="badge px-3 py-1 mt-auto
                                        {% if map.played == 0 %}bg-secondary{% elif map.winrate >= 50 %}bg-success{% else %}bg-danger{% endif %}">
                                        {% if map.played == 0 %}
                                            -
                                        {% else %}
                                            {{ map.winrate }} 
                                        {% endif %}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="stats-box unavailable">
                            <p class="text-muted">No map stats available.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}