{% from "macros/pagination_macros.html" import render_pagination %}

<div class="scrollable-table">
<table class="leaderboard-table table-hover">
    <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 30%">Player</th>
            <th style="width: 15%" class="sortable" data-field="elo">
                ELO
                {% if sort == 'elo' %}
                    <i class="fas fa-sort-up sort-indicator"></i>
                {% elif sort == '-elo' %}
                    <i class="fas fa-sort-down sort-indicator"></i>
                {% else %}
                    <i class="fas fa-sort sort-indicator"></i>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody class="leaderboard-body">
        {% for player in data %}
        <tr>
            <td> {{player.index}}</td>
            <td>
                <a class="player-link" href="https://www.faceit.com/en/players/{{ player['player_name'] }}">
                    <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <img src="{{ player['avatar'] if player['avatar'] else url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                            alt="avatar" width="24" height="24" class="rounded-circle me-2">

                        <!-- Country flag -->
                        <img src="{{ url_for('static', filename='img/flags/' ~ player['country']|lower ~ '.png') }}"
                            alt="{{ player['country'] }}" width="20" class="me-2">

                        <!-- Player name -->
                        <div class="col">
                            <span>{{ player['player_name'] }}</span>
                            {% if player['aliases'] %}
                                <span class="text-muted small">
                                    [{{ player['aliases'] }}]
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </td>
            <td>
                {{ player['faceit_elo'] }}
                <a href="https://www.faceit.com/en/players/{{ player['player_name'] }}" target="_blank"
                   aria-label="Faceit profile for {{ player['player_name'] }}">
                    <img src="{{ url_for('static', filename='img/faceit/faceit_icon.png') }}" 
                         alt="Faceit" width="20" class="ms-2">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<!-- Pagination + Info Row -->
<div id="pagination">
{{ render_pagination(page, per_page, total, 'players') }}
</div>