{% from "macros/pagination_macros.html" import render_pagination %}

<table class="leaderboard-table table-hover">
    <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 30%">Player</th>
            <th style="width: 15%; cursor: pointer;" class="sort-header" data-sort="{{ 'elo_asc' if sort == 'elo_desc' else 'elo_desc' }}">
                ELO 
                {% if sort == 'elo_desc' %}
                    <i class="fas fa-sort-down"></i>
                {% elif sort == 'elo_asc' %}
                    <i class="fas fa-sort-up"></i>
                {% else %}
                    <i class="fas fa-sort"></i>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for player in data %}
        <tr>
            <td> {{player.index}}</td>
            <td>
                <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    <img src="{{ player['avatar'] if player['avatar'] else url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                         alt="avatar" width="24" height="24" class="rounded-circle me-2">

                    <!-- Country flag -->
                    <img src="{{ url_for('static', filename='img/flags/' ~ player['country']|lower ~ '.png') }}"
                         alt="{{ player['country'] }}" width="20" class="me-2">

                    <span>{{ player['player_name'] }}</span>
                </div>
            </td>
            <td>
                {{ player['faceit_elo'] }}
                <a href="https://www.faceit.com/en/players/{{ player['player_name'] }}" target="_blank"
                   aria-label="Faceit profile for {{ player['player_name'] }}">
                    <img src="{{ url_for('static', filename='img/faceit/faceit_icon.png') }}" 
                         alt="Faceit" width="20" class="ms-2">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Pagination + Info Row -->
{{ render_pagination(page, per_page, total, 'players') }}