<div class="sticky-column">
    <table class="stats-table sticky-table">
        <thead>
            <tr>
                <th>Player</th>
                <th class="text-center sortable" data-field="matches_played" data-column="matches_played">
                    Matches Played
                    {% if sort == 'matches_played' %}
                        <i class="fas fa-sort-up sort-indicator"></i>
                    {% elif sort == '-matches_played' %}
                        <i class="fas fa-sort-down sort-indicator"></i>
                    {% else %}
                        <i class="fas fa-sort sort-indicator"></i>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for player in data %}
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                            src="{{ player['avatar'] if player['avatar'] else url_for('static', filename='img/faceit/player_avatar_placeholder.jpg') }}"
                            alt="avatar" width="24" height="24"
                            class="rounded-circle me-2">
                        <img
                            src="{{ url_for('static', filename='img/flags/' ~ player['country']|lower ~ '.png') }}"
                            alt="{{ player['country'] }}" width="20"
                            class="me-2">
                        <span>{{ player['player_name'] }}</span>
                    </div>
                </td>
                <td class="text-center">
                    {{ player['matches_played'] if player['matches_played'] else '-' }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>