<div class="scrollable-columns-wrapper">
    <!-- <div class="scrollbar-top-wrapper">
        <div class="scrollbar-top" id="scrollbar-top"></div>
    </div> -->
    <div class="scrollable-columns table-scrollable" id="scrollable-table">
        <table class="stats-table scrollable-table smart-table">
            <thead>
                <tr>
                    {% for field in stat_field_names %}
                    <th class="text-center sortable" data-field="{{ field }}">
                        {{ field }} <span class="sort-indicator"></span>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="table-body">
                {% for player in data %}
                <tr>
                    {% for field in stat_field_names %}
                    <td class="text-center">
                        {{ player['avg_stats'][field]|round(2) if field in player['avg_stats'] else '-' }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>