/* base/darkmode.css */
body.dark-mode {
  --primary: #f39c12;
  --secondary: #555;
  --background: #121212;
  --foreground: #e0e0e0;

  --text: #e0e0e0;

  --navbar-bg: var(--background);
  --navbar-shadow: var(--primary);

  --card-bg: #1e1e1e;
  --card-bg-secondary: #2c2c2c;
  --card-bg-highlight: #333;
  --border: #444;
  --accent: #888d91;
  --muted: #8a8a8a;
  --btn-bg: #555;
  --btn-text: #ffffff;
  --btn-hover-bg: #666;
  --form-bg: #333;
  --form-text: #ddd;
  --form-border: #555;
  --logo-filter: invert(1) brightness(1.2) contrast(1.1);
}

body.dark-mode {
  background-color: var(--background);
  color: var(--foreground);
}

body.dark-mode .btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--border);
}

body.dark-mode .btn-outline-secondary:hover {
  background-color: var(--btn-hover-bg);
  border-color: var(--border);
  color: var(--btn-text);
}

body.dark-mode .btn-secondary {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border-color: var(--border);
}

body.dark-mode .btn-secondary:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-text);
}

body.dark-mode .form-inline {
  color: var(--secondary);
}

body.dark-mode .form-control {
  background-color: var(--form-bg);
  color: var(--form-text);
  border-color: var(--form-border);
}

body.dark-mode .score-logo {
  filter: var(--logo-filter);
}

body.dark-mode .text-muted {
  color: var(--muted) !important;
}