<!DOCTYPE html>
{% extends "base.html" %}

{% import "macros/filters/range_slider.html" as sliders %}
{% import "macros/filters/filter_group.html" as filter_group %}
{% import "macros/filters/select_picker.html" as select_picker %}
{% import "macros/filters/countries_filter.html" as countries_filter %}

{% block title %}Stats - BeneluxCS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/range_slider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/date_filter.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/filter_group.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/filter_indicators.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/flags_filter.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/stats/stats.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/stats/stats_filters.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/stats/stats_table.css') }}">
{% endblock %}

{% block content %}
<div class="stats-page-wrapper">

    <div class="sidebar left">

        <div class="sidebar-content">
            <div class="sidebar-header">
                <span>Filters</span>
                <button class="clear-all-filters" disabled title="Clear all filters">&times;</button>
            </div>

            <div class="sidebar-body">
                <div class="filter-container open" data-filter-name="events">
                    <div class="filter-header">
                        <span>Events</span>
                        <span class="filter-indicator"></span>
                        <span class="arrow"></span>
                    </div>
                    <div class="filter-body">
                        {{ filter_group.radio_filter("events", filter_options["events"], "esea") }}
                    </div>
                </div>

                <div class="filter-container open" data-filter-name="countries">
                    <div class="filter-header">
                        <span>Countries</span>
                        <span class="filter-indicator"></span>
                        <span class="arrow"></span>
                    </div>
                    <div class="filter-body">
                        {{ countries_filter.countries_filter(['nl', 'be', 'lu']) }}
                    </div>
                </div>

                <div class="filter-container" data-filter-name="seasons">
                    <div class="filter-header">
                        <span>Seasons</span>
                        <span class="filter-indicator"></span>
                        <span class="arrow"></span>
                    </div>
                    <div class="filter-body">
                        {{ select_picker.select_picker_multiple("seasons", filter_options["seasons"]) }}
                    </div>
                </div>

                <div class="filter-container" data-filter-name="divisions">
                    <div class="filter-header">
                        <span>Divisions</span>
                        <span class="filter-indicator"></span>
                        <span class="arrow"></span>
                    </div>
                    <div class="filter-body">
                        {{ filter_group.checkbox_filter("divisions", filter_options["divisions"]) }}
                    </div>
                </div>

                <div class="filter-container" data-filter-name="stages">
                    <div class="filter-header">
                        <span>Stages</span>
                        <span class="filter-indicator"></span>
                        <span class="arrow"></span>
                    </div>
                    <div class="filter-body">
                        {{ filter_group.checkbox_filter("stages", filter_options["stages"]) }}
                    </div>
                </div>

                <div class="filter-container" data-filter-name="timestamp">
                    <div class="filter-header">
                        <span>Timestamp</span>
                        <span class="filter-indicator"></span>
                        <span class="arrow"></span>
                    </div>
                    <div class="filter-body">
                        <div class="date_filter" id="dateFilter">
                            <i class="fa fa-calendar"></i>&nbsp;

                            <div class="date_filter_label">
                                Select date range
                            </div>

                            <div class="date_filter_dates">
                                <span class="date_filter_start">
                                </span>

                                <span class="date_filter_end">
                                </span>
                            </div>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="filter-container" data-filter-name="maps_played">
                    <div class="filter-header">
                        <span>Maps Played</span>
                        <span class="filter-indicator"></span>
                        <span class="arrow"></span>
                    </div>
                    <div class="filter-body">
                        {{ sliders.dual_range_slider(0, 50, 1) }}
                    </div>
                </div>

                <div class="apply-button-container">
                    <button class="apply-button">Apply Filters</button>
                </div>

            </div>

        </div>

    </div>

    <div class="stats-wrapper">
        <table id="stats-data-table">
            <!-- DataTable will be initialized here -->
        </table>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
<script>
$(function() {
    var start = null;
    var end = null;

    function updateLabel(startDate, endDate) {
        if (startDate && endDate) {
            // If a range is selected, show the dates
            $('#dateFilter .date_filter_label').hide();
            $('#dateFilter .date_filter_start').html(startDate.format('DD-MM-YYYY'));
            $('#dateFilter .date_filter_end').html(endDate.format('DD-MM-YYYY'));
        } else {
            // If no selection, show placeholder text
            $('#dateFilter .date_filter_label').show();
            $('#dateFilter .date_filter_start').html('');
            $('#dateFilter .date_filter_end').html('');
        }
    }

    $('#dateFilter').daterangepicker({
        "showDropdowns": true,
        "alwaysShowCalendars": true,
        ranges: {
            'This Week': [moment().startOf('week'), moment().endOf('week')],
            'Last Week': [moment().subtract('1', 'week').startOf('week'), moment().subtract('1', 'week').endOf('week')],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
            'Last 3 Months': [moment().subtract(3, 'month').startOf('month'), moment().endOf('month')],
            'Last 6 Months': [moment().subtract(6, 'month').startOf('month'), moment().endOf('month')],
            'This Year': [moment().startOf('year'), moment().endOf('year')],
            'All Time': [moment('2000-01-01'), moment()],
        }
    }, updateLabel);

    // Filter hook
    $('#dateFilter').on('apply.daterangepicker', function(ev, picker) {
        start = picker.startDate;
        end = picker.endDate;

        if (picker.chosenLabel === 'All Time') {
            $('#dateFilter .date_filter_label').text('All Time').show();
            $('#dateFilter .date_filter_start').html('');
            $('#dateFilter .date_filter_end').html('');
        } else {
            $('#dateFilter .date_filter_label').hide();
            $('#dateFilter .date_filter_start').html(start.format('DD-MM-YYYY'));
            $('#dateFilter .date_filter_end').html(end.format('DD-MM-YYYY'));
        }
    });
});
</script>

<!-- Stats.js -->
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter_ui.js') }}"></script>
{% endblock %}