{% extends "stats/stats_layout.html" %}


{% block sidebar_extra %}
    <div class="sidebar-content">
        <div class="sidebar-header">
            <span>Filters</span>
            <button class="clear-all-filters" disabled title="Clear all filters">&times;</button>
        </div>

        <div class="sidebar-body">
            <div class="filter-container open" data-filter-name="events">
                <div class="filter-header">
                    <span>Events</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ filter_group.radio_filter("events", filter_options["events"], "esea") }}
                </div>
            </div>

            <div class="filter-container open" data-filter-name="countries">
                <div class="filter-header">
                    <span>Countries</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ countries_filter.countries_filter(['nl', 'be', 'lu']) }}
                </div>
            </div>

            <div class="filter-container" data-filter-name="seasons">
                <div class="filter-header">
                    <span>Seasons</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ select_picker.select_picker_multiple("seasons", filter_options["seasons"]) }}
                </div>
            </div>

            <div class="filter-container" data-filter-name="divisions">
                <div class="filter-header">
                    <span>Divisions</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ filter_group.checkbox_filter("divisions", filter_options["divisions"]) }}
                </div>
            </div>

            <div class="filter-container" data-filter-name="stages">
                <div class="filter-header">
                    <span>Stages</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ filter_group.checkbox_filter("stages", ["Regular Season", "Playoffs"]) }}
                </div>
            </div>

            <div class="filter-container open" data-filter-name="timestamp">
                <div class="filter-header">
                    <span>Timestamp</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ filter_group.radio_filter("timestamp", ["All Time", "This Week", "Last Week", "This Month", "Last Month", "Last 3 Months", "Last 6 Months", "This Year"], "All Time") }}
                </div>
            </div>

            <div class="filter-container" data-filter-name="maps_played">
                <div class="filter-header">
                    <span>Maps Played</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ sliders.dual_range_slider(0, 50, 1) }}
                </div>
            </div>

            <div class="filter-container" data-filter-name="teams">
                <div class="filter-header">
                    <span>Teams</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ search_box.search_box("teams", "Search teams", filter_options["teams"]) }}
                </div>
            </div>


            <div class="apply-button-container">
                <button class="apply-button">Apply Filters</button>
            </div>

        </div>

    </div>
{% endblock %}


{% block stats_content %}
    <!-- Page selector - moved outside the table -->
    <div class="page-length-selector">
        <select id="pageLengthSelect"
                class="selectpicker"
                data-width="fit">
            <option value="25" selected>25</option>
            <option value="50">50</option>
            <option value="-1">All</option>
        </select>
        <label for="pageLengthSelect" class="form-label me-2">entries per page</label>
    </div>
    
    <table id="stats-player-data-table" class="table custom-data-table custom-striped align-middle table-sm"></table>
        <!-- DataTable will be initialized here -->
    </table>
{% endblock %}

{% block javascript %}
{{ super() }}

<script src="{{ url_for('static', filename='js/stats/stats_player.js') }}"></script>
{% endblock %}