<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}{{ super() }} | Stats{% endblock %}

{% import "macros/filters/range_slider.html" as sliders %}
{% import "macros/filters/filter_group.html" as filter_group %}
{% import "macros/filters/select_picker.html" as select_picker %}
{% import "macros/filters/countries_filter.html" as countries_filter %}
{% import "macros/filters/search_box.html" as search_box %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/sidebar.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/components/table/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/table/colvis.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/table/page_entries.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/range_slider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/date_filter.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/filter_group.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/filter_indicators.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/flags_filter.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/search_box.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/filters/select_picker.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/stats/stats.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/stats/stats_filters.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/stats/stats_table.css') }}">
{% endblock %}

{% block content %}
<div class="stats-page-wrapper {% block page_class %}{% endblock %}">

    <div class="sidebar left" id="sidebar-filters">
        <div class="sidebar-collapser">
            <i class="material-icons">menu</i>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-header">
                <span>Navigation</span>
            </div>
            <div class="sidebar-body">
                <ul class="nav nav-links-sidebar flex-column">
                    <a class="nav-link sidebar-button" href="/stats/player">
                        <i class="material-icons">area_chart</i>
                        Player Stats
                    </a>
                    <a class="nav-link sidebar-button" href="/stats/elo">
                        <i class="material-icons">leaderboard</i>
                        Elo Leaderboard
                    </a>
                </ul>
            </div>
        </div>
        
        {% block sidebar_extra_left %} {% endblock %}

        <div class="sidebar-content">
            <div class="sidebar-header hoverable">
                <a href="https://discord.gg/9xzsGTGhjm" target="_blank" rel="noopener noreferrer" style="margin: 10px 5px">
                    <img src="{{ url_for('static', filename='img/join_discord.png') }}" alt="Join the Discord" class="img-fluid sidebar-discord"/>
                </a>
            </div>
        </div>
    </div>

    <div class="stats-wrapper">
        {% block stats_content %} {% endblock %}
    </div>

    
    <div class="sidebar right">
        <div class="sidebar-content">
            {% block sidebar_extra_right %}{% endblock %}
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
{{ super() }}

<!-- Stats.js -->
<script src="{{ url_for('static', filename='js/filters/datetime.js') }}"></script>

<script src="{{ url_for('static', filename='js/stats/stats.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters/filter_ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters/filter_utils.js') }}"></script>
{% endblock %}