{% extends "stats/stats_layout.html" %}

{% block sidebar_extra %}
    <div class="sidebar-content">
        <div class="sidebar-header">
            <span>Filters</span>
            <button class="clear-all-filters" disabled title="Clear all filters">&times;</button>
        </div>

        <div class="sidebar-body">
            <div class="filter-container open" data-filter-name="countries">
                <div class="filter-header">
                    <span>Countries</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ countries_filter.countries_filter(['nl', 'be', 'lu']) }}
                </div>
            </div>

            <div class="filter-container" data-filter-name="elo_range">
                <div class="filter-header">
                    <span>Elo range</span>
                    <span class="filter-indicator"></span>
                    <span class="arrow"></span>
                </div>
                <div class="filter-body">
                    {{ sliders.dual_range_slider(0, 4000, 50) }}
                </div>
            </div>

            <div class="apply-button-container">
                <button class="apply-button">Apply Filters</button>
            </div>

        </div>

    </div>
{% endblock %}


{% block stats_content %}
    <!-- Page selector - moved outside the table -->
    <div class="page-length-selector">
        <select id="pageLengthSelect"
                class="selectpicker"
                data-width="fit">
            <option value="25" selected>25</option>
            <option value="50">50</option>
            <option value="-1">All</option>
        </select>
        <label for="pageLengthSelect" class="form-label me-2">entries per page</label>
    </div>
    
    <table id="stats-elo-data-table" class="table custom-data-table custom-striped align-middle table-sm"></table>
        <!-- DataTable will be initialized here -->
    </table>
{% endblock %}

{% block javascript %}
{{ super() }}

<script src="{{ url_for('static', filename='js/stats/stats_elo.js') }}"></script>
{% endblock %}